:root {
  color-scheme: light dark;
  --color-base-c: #ffffff;
  --color-base-c-hover: #d3d3d3;
  --color-base: #333333;
  --color-base-hover: #444444;
  --color-base-transparent: #333333BB;
  --color-base-transparent-2: #55555555;
  --color-brand-c: #ffffff;
  --color-brand: #162850;
  --color-brand-selected: #4a5e85;
  --color-brand-hover: #2d4477;
  --color-accent-c: #ffffff;
  --color-accent: gold;
  --color-accent-selected: yellow;
  --color-accent-hover: yellow;
  --color-bad-c: #ffffff;
  --color-bad: #862626;
  --color-bad-selected: #ff3333;
  --color-bad-hover: #ff3333;
  --color-good-c: #ffffff;
  --color-good: green;
  --color-good-selected: lime;
  --color-good-hover: lime;    
  --debug: #e100ff;
  --radius: 0.3em;
  --radius-large: 0.5em;
  --radius-round: 9999em;
  color: var(--color-base-c);
  fill: var(--color-base-c);
  background-color: var(--color-base);
}

@media (prefers-color-scheme: light) {
  :root {  
    --color-base-c: #333333;
    --color-base-c-hover: #444444;
    --color-base: #ffffff;
    --color-base-hover: #d3d3d3;
    --color-base-transparent: #ffffffBB;
    --color-base-transparent-2: #55555555;
    color: var(--color-base-c);
    fill: var(--color-base-c);
    background-color: var(--color-base);
  }
}
